/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

$red: #8C1328;
$light-red: #D6CACC;
$green: #3A5A31;
$light-green: #CFD6CD;

$grey-0: rgb(51, 51, 51);
$grey-1: rgb(99, 107, 116);
$grey-2: rgb(180, 182, 184);
$grey-3: rgb(227, 230, 232);

/*
=general
*/

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

blockquote {
    border-left: 5px solid $grey-2;
    padding: 10px 0px 1px 20px;
    margin: 10px 0;
    color: $grey-0;
}

/*
=layout
*/

 /* Override max-width for .container class */
.container {
    max-width: 900px; /* Set your desired max-width value here */
}

footer {
    height: 100px;
}

/*
=elements
*/

.oauth-btn {
    background-color: white;
    border: 1px solid $grey-2;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    .label {
        padding-top: 8px;
    }
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    color: $grey-1;
    font-size: 13px;

    div {
        padding: 0 10px;
    }
  
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $grey-2;
    }
}

#proposition {
    .votes {
        text-align: center;
    }
    .content {
        width: 100%;
        .details {
            text-align: right;
            width: 100%;
        }
        .description {
            font-size: 0.8rem;
        }
    }
}

.proposition {
    padding: 10px 0 10px 0;
    border-top: 1px solid $grey-3;
    .summary {
        text-align: right;
        width: 78px;
    }
    .content {
        width: 100%;
        .author-info {
            text-align: right;
        }
    }
}

#arguments {
    .yes-side-header {
        border: 1px solid $green;
        background-color: $light-green;
    }
    .no-side-header {
        border: 1px solid $red;
        background-color: $light-red;
    }
    .yes-side-header, .no-side-header {
        border-top-left-radius: 6px;
        padding: 5px 5px 5px 10px;
        .name {
            padding-top: 5px;
            font-weight: bold;
        }
    }

    .yes-side-arguments {
        .argument {
            border-bottom: 1px solid $green;
        }
    }

    .no-side-arguments {
        .argument {
            border-bottom: 1px solid $red;
        }
    }
    
    .argument {
        padding: 10px 0 10px 0;
        h1 {
            font-size: 1.2rem;
        }
        .content, .details {
            padding-left: 10px;
        }
        .footnotes {
            font-size: 0.8rem;
        }
    }
}

#argument_body {
    height: 250px;
}