/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 /* Override max-width for .container class */
.container {
    max-width: 700px; /* Set your desired max-width value here */
}

.oauth-btn {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    // padding: 10px;
    box-sizing: border-box;

    .label {
        padding-top: 8px;
    }
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    color: rgb(99, 107, 116);
    font-size: 13px;

    div {
        padding: 0 10px;
    }
  
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid rgb(180, 182, 184);
    }
}

.proposition-full {
    .votes {
        text-align: center;
    }
}

.proposition {
    padding: 10px 0 10px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    .proposition-body {
        .vote-count {
            padding-top: 5px;
            width: 65px;
            height: 65px;
            background-color: green;
            text-align: center;
            color: white;
        }
        .body {
            padding-left: 10px;
            height: 65px;
        }
    }
}

#arguments {
    .side {
        background-color: beige;
        padding: 5px;
        .name {
            padding: 5px;
            font-weight: bold;
        }
    }
    .argument {
        padding: 10px 0 10px 0;
        border-bottom: 1px solid grey;
    }
}
